
* {
	box-sizing: border-box;
}

:root {
  --primary: #CCD5AE;
  --secondary: #D4A373;
}

.bell img:hover {
	transform: rotate(20deg);
	transform-origin: 50% 50%;
}

body {
  margin: 0;
  max-width: 1400px;
  background-color: white;
	font-family: 'Josefin Sans', sans-serif;
}

header {
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  padding-bottom: 10px;
}

header h1 {
  flex: 100%;
  text-align: center;
}

.profile-image {
  border-radius: 20%;
	height: 50px;
  margin: 5px;
}

.member .profile-image,
.new-member .profile-image {
  margin-top: 0;
  margin-left: 0;
}

a {
  text-decoration: none;
  color: var(--secondary);
}


.grid {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas:
    "header"
    "nav"
    "main";
}


.bell {
  position: relative;
  padding: 10px;
  border-right: solid 1px white;
}

.bell img {
  height: 40px;
}

.badge {
  background-color: red;
  border-radius:30px;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.main-member {
  display: flex;
  align-items: center;
}



nav {
  grid-area: nav;
  display: flex;
  background-color: var(--secondary);
}

nav a {
  padding: 10px;
  margin: 0 auto;
  height: 70px;
}

nav a.active {
  border-bottom: solid 6px var(--primary);
}

nav a img {
  height: 90%;
}


main {
  grid-area: main;
  margin-bottom: 10px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-areas:
		"main-header"
    "alert"
		"traffic"
    "daily"
    "mobile"
    "social"
    "members"
    "activity"
    "message"
    "settings";
}

section {
  border-top: solid 1px #444140;
  padding: 20px 5px 30px;
}

section.members, section.activity {
  padding-bottom: 0;
}

section h3 {
  text-transform: uppercase;
	margin-left: 10px;
  font-weight: 400;
  color: #444140;
  font-size: 16px;
}



.alert {
  grid-area: alert;
  margin: 0 10px;
}

.alert-banner {
  background-color: var(--secondary);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.alert-banner p:first-child {
  margin-top: 0;
}

.close-banner {
  margin: 0;
}

.title {
  background: white;
	padding-bottom: 10px;
  flex: 0 0 100%;
  text-align: center;
  order: 1;
  margin: 0;
  padding-top: 20px;
}

.main-header {
  grid-area: main-header;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgrey;
  padding-top: 15px;
}

.header-search {
  flex: 0 0 90%;
  border: solid 1px var(--primary);
  padding: 10px;
  margin: 10px auto 30px;
  background-color: white;
}

.search-bar {
  border-style: none;
  margin-left: 5px;
  width: 87%;
}

.search-icon {
  display: none;
}

.traffic {
  grid-area: traffic;
  border: none;
  margin-top: 10px;
}

fieldset {
  margin: 0 0 10px;
  border: none;
}

fieldset label {
  font-size: 15px;
}

.mobile {
  grid-area: mobile;
}

.daily {
  grid-area: daily;
}

.social {
  grid-area: social;
}

.social-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: solid 1px;
	margin: 10px 0;
  border-radius: 10px;
  padding: 15px 10px;
  background-color: var(--primary);
}

.social-image{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  height: 80px;
  margin: 0 20px;
	width: 90px;
	background-color: var(--secondary);
}

.social-icons {
  width: 30px;
}


.social-image svg path{
  fill: white;
}

.twitter {
  transform: translateY(3px);
}

.facebook {
  transform: translate(-13px, -14px);
}

.google {
  transform: translateX(1px);
}

.social-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.social-stats p {
  flex: 0 0 100%;
  margin: 0;
}

.social-stats p:first-child {
  font-weight: 300;
}

.social-stats p:last-child {
  font-size: 50px;
	font-weight: 300;
}

.activity {
  grid-area: activity;
}

.members {
  grid-area: members;
}


.new-member,
.member {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: solid 1px rgba(68, 65, 64, 0.5);
}

.new-member:last-child,
.member:last-child {
  border: none;
  margin-bottom: 30px;
}

.member-info {
  flex: 0 0 100%;
  order: 1;
}

.member-info p {
  margin: 0;
}

.member-info p:first-child {
	font-size: 20px;
	font-weight: 300;
}

.member-info p:last-child {
	font-size: 15px;
	color: var(--secondary);
	font-weight: 200;
}

.member-info a {
	font-size: 15px;
	font-weight: 200;
}

.switch-toggle.switch-ios {
  background-color: white;
  border: none;
  box-shadow: none;
}

.arrow {
	border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
	transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



.message {
  grid-area: message;
}

.settings {
  grid-area: settings;
}

.form-field,
.form-user,
.form-area,
.button-primary,
.button-disabled {
  width: 100%;
  border-radius: 20px;
}

.form-field,
.form-user,
.form-area {
  border: solid 1px grey;
  padding: 10px;
}

.form-user,
.form-area {
  margin: 5px 0;
  background-color: white;
}

.button-primary,
.button-disabled {
	padding: 20px 0;
	font-weight: 400;
  border: none;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
}

.button-primary {
  background: var(--primary);
}

.button-disabled {
  background: var(--primary);
}

.form-area {
  resize: none;
  height: 120px;
}

.pop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.pop > span {
  flex: 0 0 20%;
}

.pop strong {
  flex: 0 0 80%;
}

.form-field option {
  font-size: 9px;
}

.form-field {
  margin: 20px 0 10px;
  background-color: white;
}



/* media queries */

@media (min-width: 768px) {
  .grid {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  main {
    margin-bottom: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "main-header main-header"
      "alert alert"
      "traffic traffic"
      "daily mobile"
      "social social"
      "members members"
      "activity activity"
      "message message"
      "settings settings";
  }

  header h1 {
    flex: none;
  }

  header {
    justify-content: space-between;
    padding: 10px 20px;

  }

  header .bell {
    margin-left: auto;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }

  nav a {
    margin: 15px 0px;
  }

  nav a.active {
    border-bottom: none;
    border-left: solid 6px var(--primary);
  }

  section {
    padding-left: 0;
    padding-right: 0;
  }

  section h3 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .widget-container-half {
    width: 90%;
    margin: 0 auto;
  }

  .widget-container-full {
    width: 95%;
    margin: 0 auto;
  }

  .main-header {
		padding-top: 0;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .title {
    order: 0;
    flex: 0 0 180px;
    padding: 25px 0;
  }

  .header-search {
    flex: 0 0 400px;
    margin: auto 25px;
  }

  .traffic-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 95%;
    margin: 0 auto;
  }

  .alert-banner {
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: baseline;
    padding: 0 20px;
  }

	fieldset {
    flex: 0 0 40%;
  }

  .alert-banner p:first-child {
    margin: 10px 0;
  }

  .daily {
    border-right: solid 1px #444140;
  }

  .social div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .social-container {
    padding-left: 0;
    padding-right: 0;
  }

  .social-image {
    width: 80px;
  }

  .new-member .member-info {
    flex: 0 0 80%;
    order: 0;
  }

  .member .member-info {
    flex: 0 0 85%;
    order: 0;
  }

  .message {
    border-right: solid 1px #444140;
  }

  .form-area {
    height: 120px;
  }

  .pop {
    justify-content: left;
  }

  .pop strong {
    flex: 0 0 35%;
  }

  .pop > span {
    flex: 0 0 15%;
  }

  .settings-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #save,
  #cancel {
    width: 47%;
  }

  .form-field option {
    font-size: initial;
  }
}


@media (min-width: 1024px) {


  nav a {
    padding: 20px;
  }

  main {
    grid-template-areas:
    "main-header main-header"
    "alert alert"
    "traffic traffic"
    "daily mobile"
    "social social"
    "members activity"
    "message settings";
  }

  fieldset {
    flex: 0 0 35%;
  }

  .social .widget-container-full {
    width: 97%;
  }

  .social h3 {
    width: 94%;
  }


  .members {
    border-right: solid 1px #444140;
  }

	.new-member,
  .member {
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .pop strong {
    flex: 0 0 45%;
  }

  .pop > span {
    flex: 0 0 20%;
  }
}
